<section class="flex flex-col w-full pt-10 bg-black h-screen overflow-hidden  ">
  {% comment %}
    <div class="w-full mx-4">
      <ul class="overflow-x-scroll flex-row no-scrollbar  flex items-center gap-4 whitespace-nowrap ">
        {% for collection in collections %}
          <li class="underline underline-offset-2 decoration-dotted text-xl font-bold capitalize hover:text-red-600 ">
            <p class="">
              {{ collection.title | link_to: collection.url | capitalize }}
            </p>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endcomment %}
<div class="page-conatiner w-full overflow-hidden  h-full flex flex-col md:flex-row">
    <div class="relative md:w-1/2 h-[44.9%] md:h-full md:border-r border-white bg-black">
    <a  href="https://www.deedsmag.com/?fbclid=PAZXh0bgNhZW0CMTEAAaYdoDKwminG0JUNlCVq77hxl1iReWqX8VDMHbfcoSN9z1o2BBmXA4iIu-8_aem_AXTdAWkzcfrHxRaP2dFsdIkD4Haca-X-fU2MtBrEbYs6JC8H0Im5KcPzWMyRSE_5oH5YwlUK4Nlj2zn9eXUqUvfY">
    <img src="{{ '415986883_18300274177181708_667487470100688065_n.jpg' | asset_url }}" class="absolute inset-0 w-full h-full object-cover" height="" width="" alt="Background Image" />
        <div class="flex items-end justify-center h-full pb-4">
            <h1 class="text-center bg-opacity-50 relative  capitalize text-2xl text-white font-medium font-sans underline-offset-2 underline decoration-dotted  hover:underline  cursor-pointer">magazine</h1>
        </div>
    </a>
    </div>
        <div class="stock-ticker md:hidden bg-black text-red-500  overflow-hidden select-none flex gap-[var(--gap)] py-1 border-y border-white ">
            <ul class="ticker-list list-none flex-shrink-0 min-w-full flex justify-between items-center gap-[var(--gap)] animate-scroll">
              <li class="minus flex items-center">
                <span class="company ">CULTURE UNWRAPPED</span>
                <span class="price  mx-1">CULTURE UNWRAPPED</span>
                <span class="change">CULTURE UNWRAPPED</span>
              </li>
              <li class="plus flex items-center">
                <span class="company ">CULTURE UNWRAPPED</span>
                <span class="price  mx-1">CULTURE UNWRAPPED</span>
                <span class="change">+CULTURE UNWRAPPED</span>
              </li>
              <li class="plus flex items-center">
                <span class="company ">CULTURE UNWRAPPED</span>
                <span class="price  mx-1">CULTURE UNWRAPPED</span>
                <span class="change">CULTURE UNWRAPPED</span>
              </li>
              <li class="minus flex items-center">
                <span class="company ">CULTURE UNWRAPPED</span>
                <span class="price  mx-1">CULTURE UNWRAPPED</span>
                <span class="change">CULTURE UNWRAPPED</span>
              </li>
              <li class="plus flex items-center">
                <span class="company ">CULTURE UNWRAPPED</span>
                <span class="price  mx-1">CULTURE UNWRAPPED</span>
                <span class="change">CULTURE UNWRAPPED</span>
              </li>
              <li class="minus flex items-center">
                <span class="company ">CULTURE UNWRAPPED</span>
                <span class="price  mx-1">CULTURE UNWRAPPED</span>
                <span class="change">CULTURE UNWRAPPED</span>
              </li>
              <li class="plus flex items-center">
                <span class="company ">CULTURE UNWRAPPED</span>
                <span class="price  mx-1">CULTURE UNWRAPPED</span>
                <span class="change">CULTURE UNWRAPPED</span>
              </li>
              <li class="minus flex items-center">
                <span class="company ">CULTURE UNWRAPPED</span>
                <span class="price  mx-1">CULTURE UNWRAPPED</span>
                <span class="change">CULTURE UNWRAPPED</span>
              </li>
            </ul>
        
            <ul
              class="ticker-list list-none flex-shrink-0 min-w-full flex justify-between items-center gap-[var(--gap)] animate-scroll"
              aria-hidden="true"
            >
              <li class="minus flex items-center">
                <span class="company">CULTURE UNWRAPPED</span>
                <span class="price  mx-1">CULTURE UNWRAPPED</span>
                <span class="chanRE UNWRAPPED"></span>
              </li>
              <li class="plus flex items-center">
                <span class="company ">CULTURE UNWRAPPED</span>
                <span class="price  mx-1">CULTURE UNWRAPPED</span>
                <span class="change">CULTURE UNWRAPPED</span>
              </li>
              <li class="plus flex items-center">
                <span class="company ">CULTURE UNWRAPPED</span>
                <span class="price  mx-1">CULTURE UNWRAPPED</span>
                <span class="change">CULTURE UNWRAPPED</span>
              </li>
              <li class="minus flex items-center">
                <span class="company ">CULTURE UNWRAPPED</span>
                <span class="price  mx-1">CULTURE UNWRAPPED</span>
                <span class="change">CULTURE UNWRAPPED</span>
              </li>
              <li class="plus flex items-center">
                <span class="company ">CULTURE UNWRAPPEDA</span>
                <span class="price  mx-1">CULTURE UNWRAPPED</span>
                <span class="change">CULTURE UNWRAPPED</span>
              </li>
              <li class="minus flex items-center">
                <span class="company ">CULTURE UNWRAPPED</span>
                <span class="price  mx-1">CULTURE UNWRAPPED</span>
                <span class="change">CULTURE UNWRAPPED</span>
              </li>
              <li class="plus flex items-center">
                <span class="company ">CULTURE UNWRAPPED</span>
                <span class="price  mx-1">CULTURE UNWRAPPED</span>
                <span class="change">CULTURE UNWRAPPED</span>
              </li>
              <li class="minus flex items-center">
                <span class="company ">CULTURE UNWRAPPED</span>
                <span class="price  mx-1">CULTURE UNWRAPPED</span>
                <span class="change">CULTURE UNWRAPPED</span>
              </li>
            </ul>
        </div>
        <div class="relative md:w-1/2 h-3/6 md:h-full md:border-l border-white bg-black">
        <a  href="{{ routes.all_products_collection_url}}">
            <img src="{{ '415990198_18300274213181708_2894705610518394442_n.jpg' | asset_url }}" class="absolute inset-0 w-full h-[-90%] md:h-full object-cover" height="" width="" alt="Background Image" />
            <div class="flex items-end justify-center h-full pb-9 md:pb-4" >
                    <h1 class="text-center bg-opacity-50 relative  capitalize text-2xl text-white font-medium font-sans underline-offset-2 underline decoration-dotted hover:underline  cursor-pointer">buy merch</h1>
            </div>
        </a>

    </div>
</div>
<div class="stock-ticker hidden md:flex bg-black text-red-500 overflow-hidden select-none  gap-[var(--gap)] py-1 border-y border-white">
    <ul class="ticker-list list-none flex-shrink-0 min-w-full flex justify-between items-center gap-[var(--gap)] animate-scroll">
      <li class="minus flex items-center">
        <span class="company ">CULTURE UNWRAPPED</span>
        <span class="price  mx-1">CULTURE UNWRAPPED</span>
        <span class="change">CULTURE UNWRAPPED</span>
      </li>
      <li class="plus flex items-center">
        <span class="company ">CULTURE UNWRAPPED</span>
        <span class="price  mx-1">CULTURE UNWRAPPED</span>
        <span class="change">+CULTURE UNWRAPPED</span>
      </li>
      <li class="plus flex items-center">
        <span class="company ">CULTURE UNWRAPPED</span>
        <span class="price  mx-1">CULTURE UNWRAPPED</span>
        <span class="change">CULTURE UNWRAPPED</span>
      </li>
      <li class="minus flex items-center">
        <span class="company ">CULTURE UNWRAPPED</span>
        <span class="price  mx-1">CULTURE UNWRAPPED</span>
        <span class="change">CULTURE UNWRAPPED</span>
      </li>
      <li class="plus flex items-center">
        <span class="company ">CULTURE UNWRAPPED</span>
        <span class="price  mx-1">CULTURE UNWRAPPED</span>
        <span class="change">CULTURE UNWRAPPED</span>
      </li>
      <li class="minus flex items-center">
        <span class="company ">CULTURE UNWRAPPED</span>
        <span class="price  mx-1">CULTURE UNWRAPPED</span>
        <span class="change">CULTURE UNWRAPPED</span>
      </li>
      <li class="plus flex items-center">
        <span class="company ">CULTURE UNWRAPPED</span>
        <span class="price  mx-1">CULTURE UNWRAPPED</span>
        <span class="change">CULTURE UNWRAPPED</span>
      </li>
      <li class="minus flex items-center">
        <span class="company ">CULTURE UNWRAPPED</span>
        <span class="price  mx-1">CULTURE UNWRAPPED</span>
        <span class="change">CULTURE UNWRAPPED</span>
      </li>
    </ul>

    <ul
      class="ticker-list list-none flex-shrink-0 min-w-full flex justify-between items-center gap-[var(--gap)] animate-scroll"
      aria-hidden="true"
    >
      <li class="minus flex items-center">
        <span class="company ">CULTURE UNWRAPPED</span>
        <span class="price  mx-1">CULTURE UNWRAPPED</span>
        <span class="change">CULTURE UNWRAPPED</span>
      </li>
      <li class="plus flex items-center">
        <span class="company ">CULTURE UNWRAPPED</span>
        <span class="price  mx-1">CULTURE UNWRAPPED</span>
        <span class="change">CULTURE UNWRAPPED</span>
      </li>
      <li class="plus flex items-center">
        <span class="company ">CULTURE UNWRAPPED</span>
        <span class="price  mx-1">CULTURE UNWRAPPED</span>
        <span class="change">CULTURE UNWRAPPED</span>
      </li>
      <li class="minus flex items-center">
        <span class="company ">CULTURE UNWRAPPED</span>
        <span class="price  mx-1">CULTURE UNWRAPPED</span>
        <span class="change">CULTURE UNWRAPPED</span>
      </li>
      <li class="plus flex items-center">
        <span class="company ">CULTURE UNWRAPPEDA</span>
        <span class="price  mx-1">CULTURE UNWRAPPED</span>
        <span class="change">CULTURE UNWRAPPED</span>
      </li>
      <li class="minus flex items-center">
        <span class="company ">CULTURE UNWRAPPED</span>
        <span class="price  mx-1">CULTURE UNWRAPPED</span>
        <span class="change">CULTURE UNWRAPPED</span>
      </li>
      <li class="plus flex items-center">
        <span class="company ">CULTURE UNWRAPPED</span>
        <span class="price  mx-1">CULTURE UNWRAPPED</span>
        <span class="change">CULTURE UNWRAPPED</span>
      </li>
      <li class="minus flex items-center">
        <span class="company ">CULTURE UNWRAPPED</span>
        <span class="price  mx-1">CULTURE UNWRAPPED</span>
        <span class="change">CULTURE UNWRAPPED</span>
      </li>
    </ul>
</div>
</section>

<style>
  /* Custom animation for the stock ticker */
  @keyframes scroll {
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  /* Apply the scroll animation to the ticker list */
  .animate-scroll {
    animation: scroll 60s linear infinite;
  }

  /* Pause animation on hover */
  .stock-ticker:hover .animate-scroll {
    animation-play-state: paused;
  }

  /* Custom variable for the gap between ticker items */
  .stock-ticker {
    --gap: 20px;
  }
</style>
