<section class="flex flex-col w-full pt-10 h-screen  ">
  {% comment %}
    <div class="w-full mx-4">
      <ul class="overflow-x-scroll flex-row no-scrollbar  flex items-center gap-4 whitespace-nowrap ">
        {% for collection in collections %}
          <li class="underline underline-offset-2 decoration-dotted text-xl font-bold capitalize hover:text-red-600 ">
            <p class="">
              {{ collection.title | link_to: collection.url | capitalize }}
            </p>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endcomment %}
<div class="page-conatiner w-full h-full flex flex-col md:flex-row">
        <div class="md:w-1/2 h-1/2 md:h-full md:border-r border-white bg-red-500   ">
            <h1 class="capitalize text-2xl text-white font-medium font-sans  ">magazine</h1>
        </div>
        <div class="stock-ticker md:hidden bg-black text-white overflow-hidden select-none flex gap-[var(--gap)] py-1 border-y border-white">
            <ul class="ticker-list list-none flex-shrink-0 min-w-full flex justify-between items-center gap-[var(--gap)] animate-scroll">
              <li class="minus flex items-center">
                <span class="company font-bold">Lorem ipsum dolor sit amet</span>
                <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
                <span class="change">Lorem ipsum dolor sit amet</span>
              </li>
              <li class="plus flex items-center">
                <span class="company font-bold">Lorem ipsum dolor sit amet</span>
                <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
                <span class="change">+Lorem ipsum dolor sit amet</span>
              </li>
              <li class="plus flex items-center">
                <span class="company font-bold">Lorem ipsum dolor sit amet</span>
                <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
                <span class="change">Lorem ipsum dolor sit amet</span>
              </li>
              <li class="minus flex items-center">
                <span class="company font-bold">Lorem ipsum dolor sit amet</span>
                <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
                <span class="change">Lorem ipsum dolor sit amet</span>
              </li>
              <li class="plus flex items-center">
                <span class="company font-bold">Lorem ipsum dolor sit amet</span>
                <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
                <span class="change">Lorem ipsum dolor sit amet</span>
              </li>
              <li class="minus flex items-center">
                <span class="company font-bold">Lorem ipsum dolor sit amet</span>
                <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
                <span class="change">Lorem ipsum dolor sit amet</span>
              </li>
              <li class="plus flex items-center">
                <span class="company font-bold">Lorem ipsum dolor sit amet</span>
                <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
                <span class="change">Lorem ipsum dolor sit amet</span>
              </li>
              <li class="minus flex items-center">
                <span class="company font-bold">Lorem ipsum dolor sit amet</span>
                <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
                <span class="change">Lorem ipsum dolor sit amet</span>
              </li>
            </ul>
        
            <ul
              class="ticker-list list-none flex-shrink-0 min-w-full flex justify-between items-center gap-[var(--gap)] animate-scroll"
              aria-hidden="true"
            >
              <li class="minus flex items-center">
                <span class="company font-bold">Lorem ipsum dolor sit amet</span>
                <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
                <span class="change">Lorem ipsum dolor sit amet</span>
              </li>
              <li class="plus flex items-center">
                <span class="company font-bold">Lorem ipsum dolor sit amet</span>
                <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
                <span class="change">Lorem ipsum dolor sit amet</span>
              </li>
              <li class="plus flex items-center">
                <span class="company font-bold">Lorem ipsum dolor sit amet</span>
                <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
                <span class="change">Lorem ipsum dolor sit amet</span>
              </li>
              <li class="minus flex items-center">
                <span class="company font-bold">Lorem ipsum dolor sit amet</span>
                <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
                <span class="change">Lorem ipsum dolor sit amet</span>
              </li>
              <li class="plus flex items-center">
                <span class="company font-bold">Lorem ipsum dolor sit ametA</span>
                <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
                <span class="change">Lorem ipsum dolor sit amet</span>
              </li>
              <li class="minus flex items-center">
                <span class="company font-bold">Lorem ipsum dolor sit amet</span>
                <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
                <span class="change">Lorem ipsum dolor sit amet</span>
              </li>
              <li class="plus flex items-center">
                <span class="company font-bold">Lorem ipsum dolor sit amet</span>
                <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
                <span class="change">Lorem ipsum dolor sit amet</span>
              </li>
              <li class="minus flex items-center">
                <span class="company font-bold">Lorem ipsum dolor sit amet</span>
                <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
                <span class="change">Lorem ipsum dolor sit amet</span>
              </li>
            </ul>
        </div>
    <div class="md:w-1/2 h-1/2 md:h-full md:border-l border-white bg-black">
            <h1 class="capitalize text-2xl text-white font-medium font-sans  ">magazine</h1>
    </div>
</div>
<div class="stock-ticker hidden md:flex bg-black text-white overflow-hidden select-none  gap-[var(--gap)] py-1 border-y border-white">
    <ul class="ticker-list list-none flex-shrink-0 min-w-full flex justify-between items-center gap-[var(--gap)] animate-scroll">
      <li class="minus flex items-center">
        <span class="company font-bold">Lorem ipsum dolor sit amet</span>
        <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
        <span class="change">Lorem ipsum dolor sit amet</span>
      </li>
      <li class="plus flex items-center">
        <span class="company font-bold">Lorem ipsum dolor sit amet</span>
        <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
        <span class="change">+Lorem ipsum dolor sit amet</span>
      </li>
      <li class="plus flex items-center">
        <span class="company font-bold">Lorem ipsum dolor sit amet</span>
        <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
        <span class="change">Lorem ipsum dolor sit amet</span>
      </li>
      <li class="minus flex items-center">
        <span class="company font-bold">Lorem ipsum dolor sit amet</span>
        <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
        <span class="change">Lorem ipsum dolor sit amet</span>
      </li>
      <li class="plus flex items-center">
        <span class="company font-bold">Lorem ipsum dolor sit amet</span>
        <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
        <span class="change">Lorem ipsum dolor sit amet</span>
      </li>
      <li class="minus flex items-center">
        <span class="company font-bold">Lorem ipsum dolor sit amet</span>
        <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
        <span class="change">Lorem ipsum dolor sit amet</span>
      </li>
      <li class="plus flex items-center">
        <span class="company font-bold">Lorem ipsum dolor sit amet</span>
        <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
        <span class="change">Lorem ipsum dolor sit amet</span>
      </li>
      <li class="minus flex items-center">
        <span class="company font-bold">Lorem ipsum dolor sit amet</span>
        <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
        <span class="change">Lorem ipsum dolor sit amet</span>
      </li>
    </ul>

    <ul
      class="ticker-list list-none flex-shrink-0 min-w-full flex justify-between items-center gap-[var(--gap)] animate-scroll"
      aria-hidden="true"
    >
      <li class="minus flex items-center">
        <span class="company font-bold">Lorem ipsum dolor sit amet</span>
        <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
        <span class="change">Lorem ipsum dolor sit amet</span>
      </li>
      <li class="plus flex items-center">
        <span class="company font-bold">Lorem ipsum dolor sit amet</span>
        <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
        <span class="change">Lorem ipsum dolor sit amet</span>
      </li>
      <li class="plus flex items-center">
        <span class="company font-bold">Lorem ipsum dolor sit amet</span>
        <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
        <span class="change">Lorem ipsum dolor sit amet</span>
      </li>
      <li class="minus flex items-center">
        <span class="company font-bold">Lorem ipsum dolor sit amet</span>
        <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
        <span class="change">Lorem ipsum dolor sit amet</span>
      </li>
      <li class="plus flex items-center">
        <span class="company font-bold">Lorem ipsum dolor sit ametA</span>
        <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
        <span class="change">Lorem ipsum dolor sit amet</span>
      </li>
      <li class="minus flex items-center">
        <span class="company font-bold">Lorem ipsum dolor sit amet</span>
        <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
        <span class="change">Lorem ipsum dolor sit amet</span>
      </li>
      <li class="plus flex items-center">
        <span class="company font-bold">Lorem ipsum dolor sit amet</span>
        <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
        <span class="change">Lorem ipsum dolor sit amet</span>
      </li>
      <li class="minus flex items-center">
        <span class="company font-bold">Lorem ipsum dolor sit amet</span>
        <span class="price font-bold mx-1">Lorem ipsum dolor sit amet</span>
        <span class="change">Lorem ipsum dolor sit amet</span>
      </li>
    </ul>
</div>
</section>

<style>
  /* Custom animation for the stock ticker */
  @keyframes scroll {
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  /* Apply the scroll animation to the ticker list */
  .animate-scroll {
    animation: scroll 20s linear infinite;
  }

  /* Pause animation on hover */
  .stock-ticker:hover .animate-scroll {
    animation-play-state: paused;
  }

  /* Custom variable for the gap between ticker items */
  .stock-ticker {
    --gap: 20px;
  }
</style>
